---
import Layout from '../layouts/Layout.astro';
import { ExtensionRegistry, ExtensionMount } from '../plugins';

const extensions = ExtensionRegistry.getComponentsForExtensionPoint('*');
---

<Layout>
  <h1>Recogito Extensions Test Page</h1>

  <main>
    <h2>Registered Extensions: {extensions.length}</h2>
    <ul>
      {extensions.map(e => ( 
        <li>
          <ExtensionMount 
            client:only="react"
            extension={e} />
        </li>
      ))}
    </ul>
  </main> 
</Layout>
